.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
}

.loading, .error, .empty {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: #333;
}

.error {
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.category-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
  background: #fff;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.category-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.category-card h3 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
